<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td colspan="2" align="center"><img src="{{userdata.user_photo.url}}" alt="User" width="300" height="300"></td>

            </tr>
            <tr>
                <td>Name</td>
                <td>{{userdata.user_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{userdata.user_email}}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{userdata.user_address}}</td>
            </tr>
            <tr>
                <td>Contact</td>
                <td>{{userdata.user_contact}}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="{% url 'User:editprofile' %}">Edit Profile</a>
                    <a href="{% url 'User:changepassword' %}">Change Password</a>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>