<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Service Centre</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <h3 align="center"> ServiceCentres</h3>
        <table align="center" border>
            <tr>
               <td>SINO</td>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>Logo</td>
                <td>Proof</td>
                <td>District</td>
                <td>Place</td>
                <td>Action</td>
            </tr>
            <tr>
                 {% for i in sc %}

                <td>{{forloop.counter }}</td>
                <td>{{i.servicecentre_name}}</td>
                <td>{{i.servicecentre_email}}</td>
                <td>{{i.servicecentre_contact}}</td>
                <td>{{i.servicecentre_address}}</td>
                <td>{{i.servicecentre_photo}}</td>
                <td>{{i.servicecentre_proof}}</td>
                <td>{{i.place.district.district_name}}</td>
                <td>{{i.place.place_name}}</td>
                <td>
                    
                </td>
            </tr>
                {% endfor %}
            </tr>
        </table>
    </form>
</body>

</html>