<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Form</title>
</head>
<body>
     <form action="" method="post">
        <h4 align="center">Contact Information</h4>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>Name</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Address</td>
                <td>Branch</td>
                <td>Issue Description</td>
                <td>Servicecentre</td>
                <td>Actual Start</td>
                <td>Actual End</td>
                <td>Status</td>

            </tr>
            <tr>
               

                <td>{{data.user.user_name}}</td>
                <td>{{data.user.user_contact}}</td>
                <td>{{data.user.user_email}}</td>
                <td>{{data.user.user_address}}</td>
                <td>{{data.user.place.district.district_name}},
                    {{data.user.place.place_name}}</td>
                <td>{{data.request_details}}</td>
                <td>{{data.servicecentre.servicecentre_name}}</td>
                <td>{{data.request_starttime}}</td>
                <td>{{data.request_endtime}}</td>
                <td></td>
                
            </tr>
        </table>
        <h4 align="center">Work Order with Complaint Description</h4>
        <table align="center" border>
            <tr>
                <td>product Code</td>
                <td>{{rdata.replacement_code}}</td>
            </tr>
            <tr>
                <td>Product SINO</td>
                <td>{{rdata.replacement_sino}}</td>
            </tr>
            <tr>
                <td>Product Quantity</td>
                <td>{{rdata.replacement_qty}}</td>
            </tr>
            <tr>
                <td>Voltage</td>
                <td>{{rdata.replacement_voltage}}</td>
            </tr>
            <tr>
                <td>Ampere</td>
                <td>{{rdata.replacement_ampere}}</td>
            </tr>
            <tr>
                <td>Application</td>
                <td>{{rdata.replacement_app}}</td>
            </tr>
            <tr>
                <td>Service Period</td>
                <td>{{rdata.replacement_period}}</td>
            </tr>
            <tr>
                <td>Complaint</td>
                <td>{{rdata.replacement_complaint}}</td>
            </tr>
            <tr>
                <td>Action Taken</td>
                <td>{{rdata.replacement_status}}</td>
            </tr>
            
        </table>
       
        <h4>Service Engineer</h4>
        <table>
            <tr>
                <td>Signed By</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Date</td>
                <td></td>
            </tr>
            <tr>
                <td>Place</td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
</html>