<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment</title>
</head>

<body>
    <form action="" method="post">
        <table>
            <tr>
                <td>Fire extinguisher available within 6m reach?</td>
                <td></td>
            </tr>
            <tr>
                <td>Do you have a clear understanding of the product and its mechanism?</td>
                <td></td>
            </tr>
            <tr>
                <td>Was there any emergency contact number or other informations displayed?</td>
                <td></td>
            </tr>
            <tr>
                <td>Were PPE (safety helmet,jacket,shoes) available</td>
                <td></td>
            </tr>
            <tr>
                <td>Any ongoing work overhead/below?</td>
                <td></td>
            </tr>
            <tr>
                <td>Any Overhead power lines?</td>
                <td></td>
            </tr>
            <tr>
                <td>Is a safety mat available on the floor?</td>
                <td></td>
            </tr>
            <tr>
                <td>Dis you have safety gloves(provided by them or your own)?</td>
                <td></td>
            </tr>
            <tr>
                <td>Is the equipment you are going to work on in a shutdown condition?</td>
                <td></td>
            </tr>
            <tr>
                <td>Working in tight area (not enough space to attend the complaint)?</td>
                <td></td>
            </tr>
            <tr>
                <td>Over extension (stretching of body to reach at product)?</td>
                <td></td>
            </tr>
            <tr>
                <td>Is there any Hazardous material near working area?</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </form>
</body>

</html>