<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk Assessment</title>
</head>

<body>
    <form action="" method="post">
        <h2 align="center">Risk Assessment</h2>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>*Fire extinguisher available within 6m reach?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Do you have a clear understanding of the product and its mechanism?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Was there any emergency contact number or other informations displayed?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Were PPE (safety helmet,jacket,shoes) available?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is there NO ongoing work overhead or below the work area?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Are there NO overhead power lines near the work location?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is a safety mat available on the floor?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Did you have safety gloves(provided by them or your own)?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is the equipment you are going to work on in a shutdown condition?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is there sufficient working space to perform the task safely?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is over-extension or unsafe body stretching avoided while working?</td>
                <td></td>
            </tr>
            <tr>
                <td>*Is there no hazardous material near the working area?</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    </form>
</body>

</html>