<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Complete Work</title>
</head>
<body>
    <h2>Complete Work for: {{ data.request_details }}</h2>
    <form method="post">
        {% csrf_token %}
        <table border="1" align="center" cellpadding="5">
            <tr>
                <td>Enter Amount</td>
                <td><input type="number" name="txt_amount" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Complete Work"></td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>alert("{{ msg }}")</script>
    {% endif %}
</body>
</html>
