<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="" method="post">
        <h4 align="center">Contact Information</h4>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>Name</td>
                <td></td>
            </tr>
            <tr>
                <td>Address</td>
                <td></td>
            </tr>
            <tr>
                <td>Branch</td>
                <td></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td></td>

            </tr>
            <tr>
                <td>Email</td>
                <td></td>
            </tr>
            <tr>
                <td>Issue Description</td>
                <td></td>
            </tr>
            <tr>
                <td>Servicecentre</td>
                <td></td>
            </tr>
            <tr>
                <td>Worker</td>
                <td></td>
            </tr>
            <tr>
                <td>Actual Start</td>
                <td></td>
            </tr>
            <tr>
                <td>Actual End</td>
                <td></td>
            </tr>
            <tr>
                <td>Status</td>
                <td></td>
            </tr>
        </table>
        <h4 align="center">Work Order with Complaint Description</h4>
        <table align="center" border>
            <tr>
                <td>Product Code</td>
                <td>Product SINO</td>
                <td>Product Quantity</td>
                <td>Voltage</td>
                <td>Ampere</td>
                <td>Application</td>
                <td>Service Period</td>
                <td>Complaint</td>
                <td>Action Taken</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h4>Service Engineer</h4>
        <table>
            <tr>
                <td>Signed By</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Date</td>
                <td></td>
            </tr>
            <tr>
                <td>Place</td>
                <td></td>
            </tr>
        </table>
    </form>
</body>

</html>