<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="" method="post">
        <h4 align="center">Contact Information</h4>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>Name</td>
                <td>Contact</td>
                <td>Email</td>
                <td>Address</td>
                <td>Branch</td>
                <td>Issue Description</td>
                <td>Servicecentre</td>
                <td>Actual Start</td>
                <td>Actual End</td>
                <td>Status</td>

            </tr>
            <tr>
               {% for i in rdata %}

                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{{i.user.user_email}}</td>
                <td>{{i.user.user_address}}</td>
                <td>{{i.place.district.district_name}}
                    {{i.place.place_name}}</td>
                <td>{{i.request_details}}</td>
                <td>{{i.servicecentre.servicecentre_name}}</td>
                <td></td>
                <td></td>
                <td></td>
                {% endfor %}
            </tr>
        </table>
        <h4 align="center">Work Order with Complaint Description</h4>
        <table align="center" border>
            <tr>
                <td>product Code</td>
                <td><input type="text" name="txt_code" id="txt_code"></td>
            </tr>
            <tr>
                <td>Product SINO</td>
                <td><input type="text" name="txt_sino" id="txt_sino"></td>
            </tr>
            <tr>
                <td>Product Quantity</td>
                <td><input type="text" name="txt_qty" id="txt_qty"></td>
            </tr>
            <tr>
                <td>Voltage</td>
                <td><input type="text" name="txt_vol" id="txt_vol"></td>
            </tr>
            <tr>
                <td>Ampere</td>
                <td><input type="text" name="txt_amp" id="txt_amp"></td>
            </tr>
            <tr>
                <td>Application</td>
                <td><input type="text" name="txt_app" id="txt_app"></td>
            </tr>
            <tr>
                <td>Service Period</td>
                <td><input type="text" name="txt_period" id="txt_period"></td>
            </tr>
            <tr>
                <td>Complaint</td>
                <td><input type="text" name="txt_complaint" id="txt_complaint"></td>
            </tr>
            <tr>
                <td>Action Taken</td>
                <td><textarea name="txt_action" id="txt_action"></textarea></td>
            </tr>
            <tr><td><input type="submit" value="submit"></td></tr>
        </table>
       
        <h4>Service Engineer</h4>
        <table>
            <tr>
                <td>Signed By</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Date</td>
                <td></td>
            </tr>
            <tr>
                <td>Place</td>
                <td></td>
            </tr>
        </table>
    </form>
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Worker:myworks' %}";
</script>
{% endif %}
</html>