<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Works</title>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>SINO</td>
                <td>Details</td>
                <td>Todate</td>
                <td>User Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
             <tr>
                 {% for i in data %}

                <td>{{forloop.counter }}</td>
                <td>{{i.request_details}}</td>
                <td>{{i.request_todate}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_email}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{% if i.request_emergency == 1 %}
                    Emergency
                    {% else %}
                    Not Emergency
                    {% endif %}</td>
                <td>
                   
                    <a href="{% url 'Worker:replacement' i.id %}">Replacement/</a>
                    <a href="{% url 'Worker:repair' i.id %}">Repair</a>
                    
                </td>
                
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
<body>
    <form action="" method="post">
        <h2 align="center">For Replacement</h2>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>SINO</td>
                <td>Details</td>
                <td>Todate</td>
                <td>Start Time</td>
                <td>User Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
             <tr>
                 {% for i in replacement %}

                <td>{{forloop.counter }}</td>
                <td>{{i.request_details}}</td>
                <td>{{i.request_todate}}</td>
                <td>{{i.request_starttime}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_email}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{% if i.request_emergency == 1 %}
                    Emergency
                    {% else %}
                    Not Emergency
                    {% endif %}</td>
                <td>{% if i.request_status == 6 %}
                     <a href="{% url 'Worker:viewfile' i.id %}">View File</a>
                    {% else %}
                    File pending..
                   {% endif %}</td>
                 </tr>
            {% endfor %}
        </table>
    </form>
</body>

<body>
    <form action="" method="post">
        <h2 align="center">For Repair</h2>
        {% csrf_token %}
        <table align="center" border>
            <tr>
                <td>SINO</td>
                <td>Details</td>
                <td>Todate</td>
                <td>Start Time</td>
                <td>User Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
             <tr>
                 {% for i in repair %}

                <td>{{forloop.counter }}</td>
                <td>{{i.request_details}}</td>
                <td>{{i.request_todate}}</td>
                <td>{{i.request_starttime}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.user.user_email}}</td>
                <td>{{i.user.user_contact}}</td>
                <td>{% if i.request_emergency == 1 %}
                    Emergency
                    {% else %}
                    Not Emergency
                    {% endif %}</td>
                <td>{% if i.request_status == 9 %}
                    <a href="{% url 'Worker:todate' i.id %}">Add Visit Date</a>  
                    {% elif i.request_status == 10 %}Visit Date Added..
                   {% endif %}
                   
                </td>
                 </tr>
            {% endfor %}
        </table>
    </form>
</body>
{% if msg %}
<script>
    alert("{{msg}}")
    window.location = "{% url 'Worker:myworks' %}";
</script>
{% endif %}
</html>