<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <a href="{% url 'Admin:district' %}">District</a> <br>
    <a href="{% url 'Admin:place' %}">Place</a> <br>
    <a href="{% url 'Admin:sclist' %}">Servicecentre List</a> <br>
    <a href="{% url 'Admin:scverification' %}">Servicecentre Verification</a> <br>
    <a href="{% url 'Admin:userlist' %}">User List</a> <br>
    <a href="{% url 'Admin:viewrequest' %}">View Request</a> <br>
</body>
</html>